<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
          integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css"
          integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous"/>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"
            integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
    <meta charset="UTF-8" />
    <title>Dave's List</title>
</head>
<body>

<div class="container">

    <div class="jumbotron">
        <h1>Welcome to dave's List. Get a room kiddies!</h1>
        <p>Dave may login <a href="/login">here</a></p>
    </div>
    <table class="table table-bordered">
        <thead>
        <tr>
            <th>Address</th>
            <th>City</th>
            <th>State</th>
            <th>Price</th>
            <th>Details</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="item: ${list}">
            <td th:text="${item.getAddress()}">Address</td>
            <td th:text="${item.getCity()}">City</td>
            <td th:text="${item.getState()}">State</td>
            <td th:text="${item.getPrice()}">Price</td>
            <td><a th:href="@{'/detail/' + ${item.getId()}}">details</a></td>
        </tr>
        </tbody>
    </table>
</div>
</body>
</html>